<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <a href="/actions/top" class="actions" aria-current="page">Go to Actions</a>

</body>
</html>